SSH_USER="fedoteh"
SSH_KEY="$HOME/.ssh/pi_id_ed25519"

# control plane host (ssh target + IP that kube-apiserver advertises)
CONTROL_PLANE_HOST="pi-001"
CONTROL_PLANE_IP="192.168.86.25"

# defaults you already use
POD_CIDR="10.244.0.0/16"
CILIUM_PODCIDR_LIST="10.244.0.0/16"
CILIUM_MASK_SIZE="24"

K8S_DEB_CHANNEL="core:/stable:/v1.35"
K8S_VERSION_PKG="1.35.0-*"
